body {
    background-color: rgb(255, 0, 0);
    color: rgb(226, 226, 226);
    font-family: "New Amsterdam", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(0, 0, 0);
    color: rgb(226, 226, 226);
}


.passo {
    display: none;
}

.passo.ativo {
    display:block;
}